.App {
  text-align: center;
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 20px;
}








input {
  padding: 10px;
  width: 200px;
}


button {
  padding: 10px;
  margin-left: 10px;
}


/* tasks  */
ul {
  list-style-type: none;
}
li {
  margin: 10px 0;
}
li button {
  margin-left: 20px;
}
